
/**
 * @file stackoverflow_flair.css
 * Styling for the Stack Overflow flair.
 */
.valuable-flair {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
}

.valuable-flair .gravatar {
    float: left;
}

.valuable-flair .gravatar img {
    border: none;
    width: 50px;
    -ms-interpolation-mode: bicubic;
}

.valuable-flair .userInfo {
    float: right;
    text-align: right;
}

.valuable-flair .userInfo .username {
    line-height: 12px;
}

.valuable-flair .userInfo .username img {
    border: none;
    padding-right: 3px;
}

.valuable-flair .userInfo .username a {
    font-weight: bold;
    text-decoration: none;
    color: #0077CC;
}

.valuable-flair .badge1 {
    color: #ffcc00;
    font-size: 120%;
    margin-left: 3px;
}

.valuable-flair .badge2 {
    color: #c0c0c0;
    font-size: 120%;
    margin-left: 3px;
}

.valuable-flair .badge3 {
    color: #CC9966;
    font-size: 120%;
    margin-left: 3px;
}

.valuable-flair .reputation-score {
    color: #444444;
    font-size: 120%;
    font-weight: bold;
}

.valuable-flair .badgecount {
    color: #808185;
    padding-left: 1px;
}

